<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image" href="../assets/logo.png">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Development</title>
</head>
<body>
    <div class="dts-profile">
        <img src="../assets/dts.png" alt="dts" class="dts-profile-img">
        <div class="name">DTS#5976</div>
        <div class="description">Casual developer.</div>
    </div>
</body>
</html>