<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image" href="../assets/logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Development</title>
  
    <meta content="Vector Development" property="og:title" />
    <meta content="official vector development website idk" property="og:description" />
    <meta content="https://vectordev.xyz" property="og:url" />
    <meta content="https://vectordev.xyz/embed.png" property="og:image" />
    <meta content="#2C54FC" data-react-helmet="true" name="theme-color" />

</head>

<body>
    
    <div class="site-header">
        <div class="site-header-inner">
            Vector Development
        </div>
        <div class="header-items">
            <a href="https://www.discord.gg/cEvRMz5dkg" style="text-decoration:none" target="_blank"><span class="ca">Discord</span></a>
            <label>Bots</label>
        </div>
    </div>

    <div>
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
            <i class="fas fa-moon" style="color: #f1c40f;"></i>
            <i class="fas fa-sun" style="color: #f39c12;"></i>
            <div class="ball"></div>
        </label>
    </div>

    <div class="profile-container">
        <div class="profile-card card-1">
            <img src="https://cdn.discordapp.com/avatars/583745403598405632/937f4aa940acc8253b56f35229302a1d.png?size=1024" alt="drapes" class="profile-img">
            <span class="profile-name">drapes#4798</span>
            <span></span>
            <ul>
                <span>
                    <a href="https://github.com/drapespy" class="github">
                        <i class="fab fa-github fa-2x" style="color: white;" aria-hidden="true"></i>
                    </a>
                </span>
                <span>
                    <a href="https://instagram.com/_vqughn_" class="instagram">
                        <i class="fab fa-instagram fa-2x" style="color: rgb(247, 201, 117);" aria-hidden="true"></i>
                    </a>
                </span>
            </ul>
        </div>
        
        <div class="profile-card card-2">
            <img src="https://cdn.discordapp.com/avatars/710247495334232164/2bd1d9ce5a2ed48d1e368551b1c985ee.png?size=1024" alt="dts" class="profile-img">
            <span class="profile-name">DTS#5976</span>
            <span>Developer</span>
            <ul>
                <span>
                    <a href="https://twitter.com/official_DTS_11" class="twitter">
                        <i class="fab fa-twitter fa-2x" style="color: #1DA1F2;" aria-hidden="true"></i>
                    </a>
                </span>
                <span>
                    <a href="https://github.com/DTS-11" class="github">
                        <i class="fab fa-github fa-2x" style="color: white;" aria-hidden="true"></i>
                    </a>
                </span>
                <span>
                    <a href="https://discord.gg/WhNVDTF" class="discord">
                        <i class="fab fa-discord fa-2x" style="color: #5865F2;" aria-hidden="true"></i>
                    </a>
                </span>
            </ul>
        </div>

        <div class="profile-card card-3">
            <img src="https://cdn.discordapp.com/avatars/596481615253733408/4967f6076223b295b65817c3d1973ab5.webp?size=1024" alt="gdkid" class="profile-img">
            <span class="profile-name">gdkid#0111</span>
            <span></span>
            <ul>
                <span>
                    <a href="https://github.com/GDKID69" class="github">
                        <i class="fab fa-github fa-2x" style="color: white;" aria-hidden="true"></i>
                    </a>
                </span>
            </ul>
        </div>

        <div class="background">
            <div class="panel-1"></div>
            <div class="panel-2"></div>
            <div class="panel-3"></div>
        </div>
    </div>


    <script src="script.js"></script>
</body>
</html>
